apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-app
  namespace: prod-env
spec:
  replicas: 4
  selector:
    matchLabels:
      app: weather
  template:
    metadata:
      labels:
        app: weather
    spec:
      containers:
        - name: weather
          image: sashak9/weather-web:latest
          ports:
            - containerPort: 5000
